# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\苏博\Desktop\Java书单\资料-mongodb基础到进阶\01_MongoDB用起来-快速上手\02_代码\article\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
